.create_new_table_view{
    width: max-content;
    height: max-content;
    background-color: #2d2d2d;
    position: absolute;
    top: 10rem;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -130px;
    display: none;
    border-radius: 10px;

    label {
        margin-top: 1rem ;
        margin-left: 1rem ;
    }
    input {
        margin-top: 1rem ;
        margin-left: 0.4rem ;
        margin-right: 1rem ;
        margin-bottom: 1rem ;
        border-radius: 5px;
        outline:#0C8DE8;
        padding-left: 0.3rem;
        color: black;
        border: 2px solid white;

    }

    input:focus{
        border: 2px solid #0C8DE8;
    }
   

    .btns{
        display: flex;
        justify-content: center;
        button{
            background-color: #0C8DE8;
            border-radius: 10px;
            margin: 0.5rem;
            padding: 0.3rem;
            margin-bottom: 1rem ;
        }

        .cancel_btn{
            background-color: #fff;
            color: #0C8DE8;
        }
    }
}

.create_new_table_view_om{
    display: block;
}

.main_off {
    filter: blur(3px);
}

.main {
    z-index: -999;
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    width: 100vw;
    height: 93vh;
    align-items: center;
    h1{
        width: max-content;
        margin: 2rem 0;
        font-size: xx-large;
    }
    
    button{
        width: max-content;
        background-color: #0C8DE8;
        border: none;
        border-radius: 10px;
        width: 120px;
        height: 40px;
    }

    button:hover{
        background-color: #0d67a8;
        color: rgb(225, 225, 225);

    }

    ul{
        width: max-content;
        display: flex;
        margin: 3rem 0;
        background-color: #2D2C2C;
        width: max-content;
        font-size: large;
        border-radius: 5px;

        li{
            margin: 10px 1.5rem;
        }
        li:hover{
            cursor: pointer;
            color: gray;
        }
    }

    table{
        border: 2px solid white;

        tr{
            border: 2px solid salmon;

            th,td{
                text-align: center;
                font-weight: 400;
                min-width: 100px;
                border: 2px solid gray;
                padding: 0.6rem;

                input{
                    background-color: #525050;
                    outline: none;
                    padding-top: 0.2rem;
                    padding-bottom: 0.2rem;
                    padding-left: 0.3rem;
                }

                select{
                    background-color: #525050;
                }
            }
            
        }
    }

}